{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Say hello to major gains</div>
                <div class="masthead-heading text-uppercase">This is placeholder text btw</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'about' %}">Take me to calculators</a>
            </div>
        </header>
{% endblock %}
